#add-user-button {
  position: fixed;
  right: 25px;
  top: 10%;
  transform: translateY(-50%);
  padding: 10px;
  border: none;
  border-radius: 50%;
}

.add-user-button span {
  display: inline-block;
  margin-right: 8px;
  font-weight: bold;
}
